@import url(https://fonts.googleapis.com/css?family=Roboto:700);

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	text-shadow: 0 0 1px #000, 0 0 2px #000;
	background: {background_color};
	font-family: 'Roboto';
	font-weight: 700;
	font-size: {font_size};
	line-height: 1.5em;
	color: {text_color};
}

#log>div {
	animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
	-webkit-animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
}

.colon {
	display: none;
}

#log {
	display: table;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 10px 10px;
	width: 100%;
	table-layout: fixed;
}

#log>div {
	display: table-row;
}

#log>div.deleted {
	visibility: hidden;
}

#log .emote {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding: 0.4em 0.2em;
	position: relative;
}

#log .emote img {
	display: inline-block;
	height: 1em;
	opacity: 0;
}

#log .message,#log .meta {
	position: relative;
	z-index: 3;
}

#log .meta {
	width: 100%;
	display: flex;
	text-align: right;
	padding-right: 0.5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}

#log .message {
	word-wrap: break-word;
	width: 65%;
	display: block;
	color: #fff;
}

.badge {
	display: inline-block;
	margin-left: 0.2em;
	position: relative;
	height: 1em;
	vertical-align: middle;
}

.name {
}

#log > div {
	background: transparent;
	margin-bottom: 10px;
	padding: 10px;
	display: block;
	position: relative;
}

#log > div .background-image {
	background: rgba(100, 100, 100, 255);
	display: block;
	opacity: 0.8;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-repeat: none;
}

#log > div.nonsub {
	color: #fff !important;
	background: transparent;
}

#log > div.owner .background-image {
	opacity: 0.7;
}

#log > div.owner .background-image,
#log > div.sub .background-image,
#log > div.vip .background-image,
#log > div.founder .background-image,
#log > div.mod .background-image,
#log > div.glodeelocks .background-image {
	opacity: 0.7;
}


#log > div.sub .background-image {
	background: url("https://swolekat.github.io/twitch-chat-test-harness/images/dumbells.jpg");
	background-size: cover;
	background-position: center;
}

#log > div.vip .background-image {
	background: url("https://swolekat.github.io/twitch-chat-test-harness/images/shimmering.gif");
	background-size: cover;
	background-position: center;
}

#log > div.founder .background-image {
	background: url("https://swolekat.github.io/twitch-chat-test-harness/images/mugi.gif");
	background-size: cover;
	background-position: center;
}

#log > div.mod .background-image {
	background: url("https://swolekat.github.io/twitch-chat-test-harness/images/sword.gif");
	background-size: cover;
	background-position: center;
}

#log > div.owner .background-image {
	background: url("https://swolekat.github.io/twitch-chat-test-harness/images/eyes.png");
	background-size: cover;
	background-position: center;
}

#log > div.prime .background-image {
	background: url("https://swolekat.github.io/twitch-chat-test-harness/images/eyes.png");
	background-size: cover;
	background-position: center;
}

#log > div.glodeelocks .background-image {
	background: url("https://cdn.discordapp.com/attachments/886759904583495700/894453131621048320/image0.jpg");
	background-size: cover;
	background-position: center;
}
