*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: Nunito, Arial, sans-serif;
    font-size: 24px;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-content: start;
    overflow: visible;
    padding: 30px;
    flex-direction: column-reverse;
    height: 100%;
}

@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes up {
    from { transform: translateY(50px); }
    to { transform: translateY(0px); }
}


.chat-message {
    margin-top: 30px;
    visibility: hidden;
    position: relative;
    min-width: 300px;
    max-width: 500px;
    width: var(--dynamicWidth);
}

.chat-message.animate {
    visibility: visible;
animation: fade reverse .5s,
                          fade .5s calc({lifetime}s - .5s) forwards,
                                                           up .5s,
                                                                up reverse .5s calc({lifetime}s - .5s) forwards;
}

.chat-message.animate .username-section {
    width: 100%;
}

.chat-message.animate.forever {
    visibility: visible;
    animation: fade reverse .5s, up .5s;
}

.username-section {
    position: relative;
    z-index: 2;
    background: var(--background);
    height: 40px;
    padding: 0 10px;
    font-weight: bold;
    color: #000;
    line-height: 40px;
    display: inline-block;
    border-radius: 20px 20px 0 0;
}

.username-section-content {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.username-section.white-text {
    color: #fff;
}

.badge {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.message-section {
    padding: 10px;
    background: #FFFAE4;
    border-radius: 0 0 20px 20px;
    font-weight: bold;
    margin-top: -2px;
}

.center-text .message-section {
    text-align: center;
}

.message-wrapper {
    display: inline-block;
}

.large-emotes .message-section {
    text-align: center;
}

.large-emotes .emote {
    height: 150px;
}

.medium-emotes .emote {
    height: 3.5rem;
    max-height: 150px;
}

.small-emotes .emote {
    height: 1.75rem;
    max-height: 150px;
}

.complex-emote {
    display: inline-block;
    position: relative;
    font-size: 0;
}

.emote.zero-width {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent !important;
}

@keyframes raidShake {
    0% {
        transform: rotate3d(0.5, 0.5, 0, 15deg);
    }
    25% {
        transform: rotate3d(0.5, -0.5, 0, 15deg);
    }
    50% {
        transform: rotate3d(-0.5, -0.5, 0, 15deg);
    }
    75% {
        transform: rotate3d(-0.5, 0.5, 0, 15deg);
    }
    100% {
        transform: rotate3d(0.5, 0.5, 0, 15deg);
    }
}

.raid-message {
    margin: 40px 0 ;
}

.raid-message-content {
    position: relative;
    animation: raidShake linear 4s forwards;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
    transform-origin: center;
}

.raid-item:not(:first-child){
    position: absolute;
    top: 0;
    left: 0;
}

.raid-ears {

}

.raid-item .ear {
    background: #C61618;
}

.raid-item .raid-message-text {
    background: #C61618;
}

.raid-item:nth-child(3n+1) .ear {
    background: #fff;
}

.raid-item:nth-child(3n+1) .raid-message-text {
    background: #fff;
}

.raid-item:nth-child(3n) .ear {
    background: #000;
}

.raid-item:nth-child(3n) .raid-message-text {
    background: #000;
}

.raid-message-text {
    color: #fff;
    font-size: 36px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.sub-message {
    background: url('https://swolekat.github.io/twitch-chat-test-harness/images/gold-glitter.gif');
    background-size: cover;
    background-position: center center;
    font-size: 72px;
    padding: 20px 90px;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #fff;
}

.sub-message-content {
    position: relative;
    z-index: 2;
}

@keyframes subShake {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 25%;
    }
    100% {
        bottom: 0;
    }
}

.sub-message:after,
.sub-message:before {
    content: '';
    position: absolute;
    background: url('https://cdn.7tv.app/emote/62ccee139882dfa63c826424/4x');
    background-size: cover;
    animation: subShake linear 300ms forwards;
    animation-iteration-count: infinite;
    height: 100%;
    width: 90px;
    bottom: 0;
}

.sub-message:before {
    left: 0;
    transform: scaleX(-1);
}

.sub-message:after {
    right: 0;
}

.follower-message {
    background: url('https://swolekat.github.io/twitch-chat-test-harness/images/thighs.gif');
    background-size: cover;
    color: #ff0000;
    font-size: 100px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    background-position: bottom;
}

@keyframes animateBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.follower-message-content {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, violet, indigo, blue, green, yellow, orange, red, violet, indigo, blue, green, yellow, orange, red);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    animation: animateBg 2s infinite linear;
    color: transparent;
}

.ear {
    position: absolute;
    top: -15px;
    height: 50px;
    width: 50px;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(135deg);
    border-radius: 0 0 0 0.25em;
    z-index: -1;
    background: var(--background);
}

.left-ear {
    left: 15%;
}

.right-ear {
    right: 15%;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.emote-only .message-wrapper,
.all-caps .message-wrapper {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.latest-subscriber:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    box-shadow: 0 0 20px 10px #e3ad16
}

.latest-cheerer .username-section,
.latest-cheerer .ear {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/gem-pattern.png") var(--background);
}

.latest-raider .right-ear {
    display: none;
}

.latest-raider .username-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/eyepatch.png") left, var(--background);
    background-size: cover;
    background-position-x: center;
}

.latest-follower .left-ear {
    animation: wavingEars1 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.latest-follower .right-ear {
    animation: wavingEars2 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes wavingEars1 {
    0% {    transform: rotate(135deg); }
    25% {     transform: rotate(125deg); }
    75% {     transform: rotate(145deg); }
    100% {    transform: rotate(135deg); }
}

@keyframes wavingEars2 {
    0% {    transform: rotate(135deg); }
    25% {     transform: rotate(145deg); }
    75% {     transform: rotate(125deg); }
    100% {    transform: rotate(135deg); }
}

/* special classes */
.prime .message-wrapper,
.mod .message-wrapper,
.founder .message-wrapper,
.colon-three .message-wrapper,
.mindless-seal .message-wrapper,
.yeshopno .message-wrapper,
.redhotboss .message-wrapper,
.owner .message-wrapper {
    background: rgba(255, 255, 255, 0.6);
    padding: 5px;
}

.puma-party .message-wrapper,
.vip .message-wrapper {
    background: transparent;
    padding: 0;
}

.vip .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/shimmering.gif");
    background-size: cover;
    background-position: center;
    color: #fff !important;
}

.founder .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/mugi.gif");
    background-size: cover;
    background-position: center;
    color: #000 !important;
}

.mod .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/sword.gif");
    background-size: cover;
    background-position: center;
    color: #057206 !important;
}

.owner .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/eyes.png");
    background-size: cover;
    background-position: center;
    color: #bb0101 !important;
}

.glodeelocks .message-section {
    background: url("https://cdn.discordapp.com/attachments/886759904583495700/894453131621048320/image0.jpg");
    background-size: cover;
    background-position: center;
    color: #fff !important;
}

.mindless-seal .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/seal-pattern.jpg");
    background-repeat: repeat;
}

.colon-threee .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/falcoDrill.gif");
    background-size: cover;
    background-position: center;
    color: #FF4A80 !important;
}

.toxic-twinky .message-section {
    background: url("https://www.clipartkey.com/mpngs/m/315-3151731_green-biohazard-symbol-png.png");
    background-size: cover;
    background-position: center;
    color: #000 !important;
}

.toxic-twinky .message-section *  {
    font-family: "Permanent Marker", sans-serif !important;
}

.coggers .message-section *  {
    font-family: 'UnifrakturMaguntia', cursive !important;
}

.sportix .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/jasper-lake_trans.jpg");
    background-size: cover;
    background-position: center;
    color: #2b2b2b !important;
}

.oserium .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/oserium.gif");
    background-size: cover;
    background-position: center;
    color: #000 !important;
}

.lone-wanderer .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/canada.png");
    background-size: cover;
    background-position: center;
    color: #000 !important;
}

.puma-party .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/blep.png") #000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #ACF67D !important;
}

.mitzumi .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/mitzumi.png");
    background-size: cover;
    background-position: center;
    color: #ff00dd !important;
}

.yeshopno .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/hop.png") #000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #0f3e8a !important;
}

.redhotboss .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/baikenWalk.gif") #fff;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    color: #000000 !important;
}

.sabbage .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/cabbage.jpg") #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000 !important;
}

.soupkun .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/soup-gir.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #00ff2b !important;
}

.coggers .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/red_dragon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff !important;
}



/* bored MUST be last*/
.bored .message-section {
    background: url("https://swolekat.github.io/twitch-chat-test-harness/images/bored.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    color: #000 !important;
}

.bored .message-wrapper {
    background: rgba(255, 255, 255, 0.6) !important;
    padding: 5px !important;
}

